.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pageNumbers {
  display: flex;
}

.active {
  background-color: #0056b3;
  font-weight: bold;
}
